* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Times New Roman', 'sans-serif';
    background-color: aquamarine;
}

.title {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    color: blue;
    font-size: 4em;
}

ul.home {
    list-style-type: none;
    font-size: 4em;
    font-weight: bold;
}

a {
    display: block;
    text-align: center;
    color: green;
    text-decoration: none; 
    padding: 15px; 
}

#menu {
    text-align: center;
    color: blue;
    font-size: 2em; 
    font-weight: bold;
    text-decoration: underline;
}

img {
    display: block;
    width: 400px;
    margin: 0 auto;
}

#content {
    margin: 0 auto 100px auto;
    width: 70%;
    font-size: 2em;
    outline: solid 1px black;
    padding: 10px;
}

h2 {
    padding: 25px;
    text-align: center;
}